.margenRenglon{
	margin: 30px 0px 30px 0px;
}
.renglon1{
	margin-top: 0px;
}
.renglon8{
	margin-bottom:auto;
}
/*

/*
.renglon2{
	top: 80px;
}

.renglon3{
	top: 385px;
}

.renglon4{
	top: 615px;
}

.renglon5{
	top: 915px;
}

.renglon6{
	top: 1215px;
}

.renglon7{
	top: 1435px;
}
*/